@{
    ViewData["Title"] = "Subscriptions";
}
@model Gateway.Models.News.IndexModel
<div class="row">
    <div class="col-sm-10">
        <h2>@Model.Username</h2>
    </div>
    <div class="col-sm-2">
        <h3> <a class="btn btn-success text-center btn-block" asp-action="Add" asp-route-username="@Model.Username">Add your own article</a> </h3>
    </div>
</div>
<hr />

@if (Model.Page > 0)
{
    <a class="btn" asp-action="Index" asp-route-Page="@(Model.Page-1)" asp-route-Username="@Model.Username" asp-route-Size="@Model.Size">Previous page</a>
}

@if (Model.Page < Model.MaxPage)
{
    <a class="btn" asp-action="Index" asp-route-Page="@(Model.Page+1)" asp-route-Username="@Model.Username" asp-route-Size="@Model.Size">Next page</a>
}

@foreach (var news in Model.News)
{
    <div class="row" style="padding-top:5px">
        <div class="col-md-4">
            <h3>
                @news.Item1
            </h3>
            <br />
            <h4>
                @news.Item2
            </h4>
            <br />  
            Author: @news.Item3
        </div>
    </div>
    <hr/>
}


